DATABASE_URL=
SUPABASE_PWD=


JWT_SECRET=
JWT_EXPIRES_IN=

APP_BASE_URL=https://amamenta-palmas.vercel.app
FRONTEND_URL=http://localhost:5173,https://amamenta-palmas.vercel.app




EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_FROM=
EMAIL_PASS=
EMAIL_USER=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
